{% extends "pages/base.html" %}
{% block subtitulo %}Pedidos{% endblock %}
{% block conteudo %}
<h1 class="display-5"><b>Meus Pedidos</b></h1>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Data</th>
            <th>Valor Total</th>
            <th>Situação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>002465</td>
            <td>02/05/2024</td>
            <td>23.992,00</td>
            <td>Pagamento Confirmado</td>
            <td>
                <a class="btn btn-danger btn-sm" href="/loja/pedido">
                    Ver Detalhes
                </a>
            </td>
        </tr>
        <tr>
            <td>002465</td>
            <td>02/05/2024</td>
            <td>23.992,00</td>
            <td>Pagamento Confirmado</td>
            <td>
                <a class="btn btn-danger btn-sm" href="/loja/pedido">
                    Ver Detalhes
                </a>
            </td>
        </tr>
        <tr>
            <td>002465</td>
            <td>02/05/2024</td>
            <td>23.992,00</td>
            <td>Pagamento Confirmado</td>
            <td>
                <a class="btn btn-danger btn-sm" href="/loja/pedido">
                    Ver Detalhes
                </a>
            </td>
        </tr>
        <tr>
            <td>002465</td>
            <td>02/05/2024</td>
            <td>23.992,00</td>
            <td>Pagamento Confirmado</td>
            <td>
                <a class="btn btn-danger btn-sm" href="/loja/pedido">
                    Ver Detalhes
                </a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}