{% extends "pages/base.html" %}
{% block subtitulo %}Confirmação de Pedido{% endblock %}
{% block conteudo %}
<h1 class="display-5 text-center"><b>Pedido Confirmado!</b></h1>
<hr>
<p class="fs-2 lead text-center">Seu pagamento foi confirmado e nossa equipe já irá preparar seu pedido para envio. Esse é o número de seu pedido.</p>
<h2 class="text-center display-4">002465</h2>
<hr>
<p class="text-center">
    <a href="/" class="btn btn-danger btn-lg">Voltar à Página Principal</a>
</p>
{% endblock %}