<div class="modal fade" id="confirmarCancelamento" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-bg-danger">
                <h5 class="modal-title">
                    Confirmação
                </h5>
            </div>
            <div class="modal-body">
                Deseja realmente cancelar este pedido?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Não
                </button>
                <form action="/cliente/post_cancelar_pedido" method="post">
                    <input type="hidden" name="id_pedido" value="{{pedido.id}}">
                    <button class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>