<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6 g-3 mb-3">
    {% for p in produtos %}
    <div class="col">
        <div class="card h-100">
            <a href="/produto/{{p.id}}">
                <img src="/static/img/produtos/{{'{:04d}'.format(p.id)}}.jpg" class="card-img-top w-100">
            </a>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-center">
                    <a href="/produto/{{p.id}}" class="text-decoration-none text-black">
                        {{p.nome}}
                    </a>
                </h5>
                <p class="card-text text-center texto-3-linhas">
                    {{p.descricao}}
                </p>
                <p class="lead text-danger text-center mt-auto">
                    R$ {{"{:,.2f}".format(p.preco)}}
                </p>
                <form method="post" action="/cliente/post_adicionar_carrinho">
                    <p class="text-center mb-0">
                        <input type="hidden" name="id_produto" value="{{p.id}}">
                        <button class="btn btn-danger" type="submit">
                            <i class="bi bi-cart-plus"></i>
                            Adicionar ao Carrinho
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>