<div class="d-flex justify-content-start">
    <nav class="me-3">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link {{ 'disabled' if pagina_atual==1 else '' }}"
                    href="/buscar?q={{ termo_busca }}&p={{ pagina_atual-1 }}&tp={{ tamanho_pagina }}&o={{ ordem }}">
                    <span>&laquo;</span>
                </a>
            </li>
            {% for i in range(quantidade_paginas) %}
            <li class="page-item">
                <a class="page-link {{ 'active' if (i+1)==pagina_atual else '' }}"
                    href="/buscar?q={{ termo_busca }}&p={{ i+1 }}&tp={{ tamanho_pagina }}&o={{ ordem }}">{{ i+1 }}</a>
            </li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link {{ 'disabled' if pagina_atual==quantidade_paginas else '' }}"
                    href="/buscar?q={{ termo_busca }}&p={{ pagina_atual+1 }}&tp={{ tamanho_pagina }}&o={{ ordem }}">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div>
        <form action="/buscar" method="get">
            <input type="hidden" name="p" value="{{ pagina_atual }}">
            <input type="hidden" name="q" value="{{ termo_busca }}">
            <input type="hidden" name="tp" value="{{ tamanho_pagina }}">            
            <select name="o" class="form-control" onchange="this.form.submit()">
                <option value="1" {{ 'selected' if ordem == 1 else '' }}>Nome</option>
                <option value="2" {{ 'selected' if ordem == 2 else '' }}>Menor Preço</option>
                <option value="3" {{ 'selected' if ordem == 3 else '' }}>Maior Preço</option>
            </select>
        </form>
    </div>
</div>