{% extends "pages/base.html" %}
{% block subtitulo %}Cadastro Realizado!{% endblock %}
{% block conteudo %}
<h1 class="display-5"><b>Cadastro Realizado com Sucesso!</b></h1>
<hr>
<p class="lead">Parabéns! Agora você está cadastrado na <b>Loja Virtual</b> e pode realizar compras, acompanhar seus pedidos, receber mensagens com nossas ofertas e usufruir de todos os demais benefícios que oferecemos. Para entrar agora mesmo, basta clicar no botão a seguir.</p>
<p>
    <a href="/entrar" class="btn btn-danger">Entrar</a>
</p>
<p class="lead">
    Atenciosamente,<br>
    Equipe de Suporte da <b>Loja Virtual</b>
</p>
{% endblock %}